{% extends "encyclopedia/layout.html" %}

{% block title %}
Encyclopedia
{% endblock %}

{% block body %}
<h1>New page</h1>

<!-- Create a form to ask user for new page title input -->
<form action="{% url 'new_page' %}" method="POST">
    {% csrf_token %}
    <label for=title>Title: </label>
    <input label="Title" type="text" id="title" name="title" placeholder="Title of the new page">
    <br>

    <!-- Create a form to ask user for new page content input -->
    <br>
    <label for=content>Content: </label>
    <br>
    <textarea id="content" name="content" placeholder="Content of the new page"></textarea>
    <br>
    <input type="submit" value="Submit">
    <br>
</form>

{% endblock %}